.menuBTN {
  width: 100%;
  /* height: 100px; */
  border: solid 2px rgb(214, 214, 214);
  margin-top: 20px;
  color: rgb(151, 32, 32);
}
.menuBTN:hover {
  background-color: rgb(151, 32, 32);
  color: white;
}
.menuItembtn {
  text-align: left;
  font-weight: bold;
  padding: 20px;
}
.menuItembtn:hover {
  color: white;
}
.menuMainText {
  margin-top: 30px;
  color: rgb(151, 32, 32);
  font-weight: bold;
}
.menuMainText2 {
  margin-top: 10px;
  font-weight: bold;
}
.pizzaMenuIMG {
  background-image: url('../../img/PizzaSpecial.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90px;
  text-align: left;
  width: 100%;
}
.pastaMenuIMG {
  background-image: url('../../img/pasta.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90px;
  text-align: left;
  width: 100%;
}
.saladMenuIMG {
  background-image: url('../../img/Salad.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90px;
  text-align: left;
  width: 100%;
}
.dominicanMenuIMG {
  background-image: url('../../img//Dominican.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90px;
  text-align: left;
  width: 100%;
}
.dessertMenuIMG {
  background-image: url('../../img/Dessert.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90px;
  text-align: left;
  width: 100%;
}
.sidesMenuIMG {
  background-image: url('../../img/Sides.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90px;
  text-align: left;
  width: 100%;
}
.menuItems {
  padding: 10px;
}
