footer {
  margin-top: 39px;
  margin-bottom: 39px;
  text-align: center;
}
.viewProfileBtn {
  font-family: 'Fugaz One', cursive;

  color: rgb(146, 179, 171);
  font-weight: bold;
}
.linkedin {
  width: 10%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  color: rgb(49, 111, 192);
  font-size: 50px;
}
.linkeninBTN {
  font-weight: bold;
}
.lowerFooterLinks {
  padding-top: 60px;
}
.footerBorder {
  border-top: solid rgb(230, 230, 230);
}
.footerItemPadding {
  padding-left: 10%;
  padding-right: 10%;
}
.socialMediaLinks {
  margin-top: 10%;

  border-top: solid rgb(230, 230, 230);
  border-bottom: solid rgb(230, 230, 230);
}
.mediaLinks {
  padding: 20px;
}
